<nav class="flex items-center justify-between p-4 bg-white shadow-md">
  <div class="flex items-center">
    <img
      src="https://www.fylehq.com/assets/images/svg-images/fylelogo.svg"
      alt="Logo"
      class="h-5 mr-6"
    />
    <ul class="flex space-x-8">
      <li><a href="#" class="text-gray-700 hover:text-black">Home</a></li>
      <li><a href="#" class="text-gray-700 hover:text-black">Workouts</a></li>
      <li><a href="#" class="text-gray-700 hover:text-black">Nutrition</a></li>
      <li><a href="#" class="text-gray-700 hover:text-black">Progress</a></li>
      <li><a href="#" class="text-gray-700 hover:text-black">Community</a></li>
    </ul>
  </div>
  <div class="flex items-center space-x-4">
    <a href="#" class="text-gray-700 hover:text-black">Sign in</a>
    <a
      href="#"
      class="px-4 py-2 border border-customFyleColor text-customFyleColor hover:bg-customFyleColor hover:text-white rounded"
      >Join Now</a
    >
  </div>
</nav>
